<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Vendedor</title>
</head>
<body>
<h1>Cadastro de Vendedor</h1>

<form th:action="@{/template.vendedor/salvar}" th:object="${template_vendedor}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" />
    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>

    <br/>

    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" th:field="*{cpf}" />
    <div th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></div>

    <br/>

    <label for="dataAdmissao">Data de Admissão:</label>
    <input type="date" id="dataAdmissao" th:field="*{dataAdmissao}" />
    <div th:if="${#fields.hasErrors('dataAdmissao')}" th:errors="*{dataAdmissao}"></div>

    <br/><br/>
    <button type="submit">Salvar</button>
</form>

<a th:href="@{/template.vendedor}">Voltar para lista</a>
</body>
</html>