<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Carros</title>
</head>
<body>
<h1>Lista de Carros</h1>
<table border="1">
    <thead>
    <tr>
        <th>Modelo</th>
        <th>Preço</th>
        <th>Data da Venda</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="carro : ${carro}">
        <td th:text="${carro.modelo}"></td>
        <td th:text="${carro.preco}"></td>
        <td th:text="${carro.datavenda}"></td>
        <td>
            <!-- Aqui pode adicionar link de edição futuramente -->
            <a th:href="@{/carro/deletar/{id}(id=${carro.id})}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/carro/novo}">Cadastrar novo carro</a>
</body>
</html>
