<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Carros</title>
</head>
<body>
<h1>Lista de Carros</h1>

<a href="/template.carro/novo">Novo Carro</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Modelo</th>
        <th>Preço</th>
        <th>Data de Venda</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="carro : ${template.carro}">
        <td th:text="${carro.id}"></td>
        <td th:text="${carro.modelo}"></td>
        <td th:text="${carro.preco}"></td>
        <td th:text="${carro.datavenda}"></td>
        <td>
            <a th:href="@{'/template.carro/editar/' + ${carro.id}}">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
